* {
	margin: 0px;
	padding: 0px;
	font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

body {
	background-color: #1b4332;
	font-size: 2000px;
}
@keyframes slideInFromBot {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}
h2, .h2, .phrase, .text-light {
	color:#FFFFFF;
}
.images {
	width: 70px;
	height: 70px;
}
header {
	height: 10vh;
	min-height: 100%;
	background-color: #1b4332;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: visible;
}
footer, .footer-buttons {
	height: 10vh;
	background-color: #1b4332;
	display: flex;
	justify-self: center;
	justify-content: center;
	align-content: center;
	overflow: hidden;
	display: dynamic;
}
.h1, h1, .logo {
	font-size: 100pt;
	color: #FFFFFF;
	display: flex;
	justify-self: flex-end;
	justify-items: center;
	flex-grow: 1;
}
section {
	background-color: #1b4332;
	display: flex;
	justify-self: flex-start;
	align-self: center;
	align-content: center;
	flex-wrap: wrap;
	height: 100%;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: center;
}
  
.navbar .navbar-collapse {
	text-align: center;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
.wrapper {
	display: flex;
	justify-self: center;
	align-self: center;
	align-content: center;
	flex-direction: space-between;
	flex-direction: column;
	margin: 1vh;
}
.logo {
	display: flex;
	justify-self: flex-end;
	justify-items: center;
	flex-grow: 1;
}
.items {
	background-color: rgba(255, 255, 255, 0.3);
	display: flex;
	flex-direction: row;
	justify-items: space-between;
	border-radius: 100px;
	padding: 2vh;
	width: max-content;
}
.child {
	flex: 0 32%;
	margin-bottom: 2%; /* (100-32*3)/2 */
	padding: 15px;
	width: min-content;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.flex-horizontal-center { justify-content: center; } 

.animation {
	display: flex;
	justify-content: center;
	align-self: center;
	align-content: flex-start;
}
.intro, .main, .story {
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-self: center;
	align-content: flex-start;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 5vh;
	width: 75%;
	overflow: hidden;
	animation: 2s ease-out .05s 1 slideInFromBot;
}
.animation h2 {
	width: 100%; 
	text-align:center;
}
.svgs {
	display: flex;
	justify-content: center;
	align-self: center;
	align-content: flex-start;
}
.text {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}
.arum {
	display: flexbox;
	background-image: url('svg/arum.svg');
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	font-size: 75px;
	text-indent: -9999px;
	display: block;

}

.aloe {
	display: flexbox;
	background-image: url('svg/aloe.svg');
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	font-size: 75px;
	display: block;

}
.banana {
	display: flexbox;
	background-image: url('svg/banana_leaf.svg');
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	font-size: 75px;
	display: block;

}
.footer-buttons a{
	display: flex;
	text-decoration: none;
	font-size: 18px;
	width: 60px;
	height: 60px;
	color: #1b4332;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 3;
	margin: 0 5px;
  }
  
.footer-buttons a::before{
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	background: linear-gradient(45deg,#22a6b3,#74A867);
	border-radius: 50%;
	z-index: 3;
	transition: 0.3s ease-in;
}
  
.footer-buttons a:hover::before{
	transform: scale(0);
	z-index: 3;
}
  
.footer-buttons a i{
	z-index: 3;
	transition: 0.3s ease-in;
}
  
.footer-buttons a:hover i{
	z-index: 3;
	background: linear-gradient(45deg,#22a6b3,#74A867);
	transform: scale(2.2);
}